/*************/
/* Defaults */
/*************/

:root {
	--font-cartridge: "Cartridge-Regular", var(--font-humanist);
}

body {
	margin-inline: auto;
	max-width: 50rem;
}

/* Header */
header {
	display: flex;
	gap: var(--size-3) var (--size-2);
	flex-wrap: wrap;
	align-items: center;
	padding: var(--size-3);
}

.home-link {
	margin-right: 2em;
	font-family: var(--font-cartridge);
	font-size: 1.5rem;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Content */

main {
	padding: var(--size-3);
}

.card {
	/* no radius when fullscreen */
	border-radius: var(--radius-conditional-2);
	border: var(--border-size-1) solid var(--gray-5);
	display: grid;
	gap: var(--size-2);
	padding: var(--size-7);
	box-shadow: var(--shadow-4);
}
.draft {
	border-radius: var(--radius-drawn-1);
	background-image: var(--gradient-6), var(--noise-4);

	background-size: cover;
}

.postlist {
	display: flex;
	flex-direction: column;
	gap: var(--size-fluid-3);
	margin: 0;
	padding: 0;

	& > li {
		max-inline-size: unset;
		padding: 0;
		list-style: none;
	}

	.tag {
		font-weight: var(--font-weight-6);
		text-align: right;
	}

	& h2 {
		font-family: var(--font-cartridge);
		max-inline-size: none;
		font-size: var(--font-size-5);
		font-weight: var(--font-weight-4);
	}

	section {
		line-height:1.5;

		p {
			margin-bottom: var(--size-3);
		}
	}

	.timestamp {
		font-size: var(--font-size-0);
	}
}

/* Headings */

main > h1 {
	font-family: var(--font-cartridge);
	letter-spacing: 0.01em;
	font-size: var(--font-size-7);
	font-weight: 400;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

/*************/
/* Utilities */
/*************/

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
