
/*************/
/* Defaults */
/*************/

:root {
	--font-cartridge: 'Cartridge-Regular', var(--font-humanist);
}

/* Header */
header {
	display: flex;
	gap: var(--size-3) var (--size-2);
	flex-wrap: wrap;
	align-items: center;
	padding: var(--size-3);
}

.home-link {
	margin-right: 2em;
	font-family: var(--font-cartridge);
	font-size: 1.5rem;
	letter-spacing: 0.01em;
	text-transform: uppercase
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Content */

main {
	padding: var(--size-3);
}

/* Headings */

main > h1 {
	font-family: var(--font-cartridge);
	letter-spacing: 0.01em;
	font-size: var(--font-size-7);
	font-weight: 400;
}

h2 + .header-anchor {
	font-size: 1.5em;
}



/*************/
/* Utilities */
/*************/

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
