---

numberOfLatestPostsToShow: 10
---
{% set postsCount = collections.home | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

{% set postslist = collections.home | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "homelist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="posts.njk">the archive</a> and thoughts in <a href="thoughts.njk">Thoughts</a>.</p>
{% endif %}
