<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		{% metaImage path, title | slugify | safe, title %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		<title>{{ title or metadata.title }}</title>

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="feed/atom.njk" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="feed/json.njk" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<style>
			/* the props */
			@import "https://unpkg.com/open-props";

			/* optional imports that use the props */
			@import "https://unpkg.com/open-props/normalize.min.css";
			@import "https://unpkg.com/open-props/buttons.min.css";
			@font-face {
				font-family: 'Cartridge-Regular';
				src: url("https://com-zeronode-fonts.fly.dev/Cartridge/Cartridge-Regular.woff2") format('woff2'), url("https://com-zeronode-fonts.fly.dev/Cartridge/Cartridge-Regular.woff") format('woff');
			}
			@font-face {
				font-family: 'Cartridge-Bold';
				src: url("https://com-zeronode-fonts.fly.dev/Cartridge/Cartridge-Bold.woff2") format('woff2'), url("https://com-zeronode-fonts.fly.dev/Cartridge/Cartridge-Bold.woff") format('woff');
			}
		</style>

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{# {%- css %}* { box-sizing: border-box; }{% endcss %} #}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}



		{%- if theme === 'glitch' %}
			<!-- START GLITCHING -->
			{%- css %}
				html {
			--background-color: #111 !important;
		}
		body {
			position: relative;
			max-width: 100vw;
			width: 100vw;
			height: 100vh;
			overflow: hidden;
		}
		body	* {
				position: absolute;
				width: 100vw;
				top: 0;
				margin: 0;
				font-size: 2em;
				color: magenta;
				background: rgb(255, 255, 255, .05);
				}

				a { color: cyan !important;}
				footer {display: none;}

			header {
			}
		  {% endcss %}
			<!-- GLITCHED -->
		{% endif %}


{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
					{%- for entry in collections.all | eleventyNavigation %}
						<li class="nav-item">
							<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
						</li>
					{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip" >
			{{ content | safe }}
		</main>

		<footer>
			<p>
				<em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
				</em>
			</p>
		</footer>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
	</body>
</html>
