---
layout: layouts/base.njk
path: thoughts
---

<ul reversed class="postlist">
	<li>
		<article class="card {% if page.data.draft %} draft {%endif %}">

		<div class="card-header">
			<h2 >
			<a href="{{ url }}" class="postlist-link">{% if title %}{{ title }}{% else %}<code>{{ url }}</code>{% endif %}</a>
			</h2>
			<div class="tag">
				{% if page.data.draft %} DRAFT {%endif %}
				{% for tag in tags %}
				{{ tag | formatTag }}
				{% endfor %}
			</div>
		</div>
		<section>
			{{ content | safe }}
		</section>
		<div class="timestamp">
		<time class="postlist-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("LLLL yyyy") }}</time>
		</div>
		</article>
	</li>
</ul>

{# <h1>{{ title }}</h1>

{{ content | safe }}

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("LLLL dd, yyyy, HH:mm") }}</time></li>
</ul>

{%- if collections.thoughts %}
{%- set previousPost = collections.thoughts | getPreviousCollectionItem %}
{%- set nextPost = collections.thoughts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %} #}
